<%# locals: (title:, categories:) %>

<div class="rounded-xl bg-container-inset space-y-1 p-1">
  <div class="flex items-center gap-1.5 px-4 py-2 text-xs font-medium text-secondary uppercase">
    <p><%= title %></p>
    <span class="text-subdued">&middot;</span>
    <p><%= categories.size %></p>
  </div>

  <div class="shadow-border-xs rounded-lg bg-container">
    <div class="overflow-hidden rounded-lg">
      <% groups = Category::Group.for(categories) %>
      <% groups.each_with_index do |group, idx| %>
        <%= render group.category %>

        <% group.subcategories.each do |subcategory| %>
          <%= render subcategory %>
        <% end %>

        <% unless idx == groups.size - 1 %>
          <%= render "shared/ruler" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
